@use "@/styles/variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: $font-figtree;
  font-size: 16px;
  font-weight: $fw-extrabold;
  color: $color-dark-500;
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-dark-600;
  transition: color 0.2s ease;

  &:hover {
    color: $color-primary-red;
  }
}

.icon {
  display: block;
}
