@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  animation: overlayShow 150ms ease;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background: #fff;
  border-radius: 12px;
  padding: 20px 25px;
  width: calc(100% - 32px);
  max-width: 475px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  animation: contentShow 150ms ease;

  &:focus {
    outline: none;
  }

  > :last-child {
    align-self: flex-end;
  }
}

.header {
  display: flex;
  border-bottom: 1px solid $color-light-300;
  align-items: center;
  gap: 12px;
  padding: 0 0 5px;
  width: 100%;
}

.title {
  font-family: $font-figtree;
  font-size: 20px;
  font-weight: 700;
  color: #1a1a1a;
  margin: 0;
}

.description {
  border-bottom: 1px solid $color-light-300;
  font-family: $font-figtree;
  font-size: 16px;
  color: $color-pure-black;
  padding: 5px 0 18px;
  line-height: 1.5;
}

@keyframes overlayShow {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
