@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

// ============================================================
// BREADCRUMB — CSS Module
// ============================================================

.nav {
  width:         100%;
  background:    $color-primary-white;
  border-top:    1px solid $color-light-200;
  border-bottom: 1px solid $color-light-200;
  padding:       12px 0;
  @include safe-area;
  margin: 50px auto 40px;
}


.link {
  font-family:     $font-figtree;
  font-size:       14px;
  font-weight:    $fw-bold;
  color:           $color-primary-red;
  text-decoration: none;
  transition:      color 0.2s ease;

  @include lg { font-size: 16px; }

  &:hover {
    color:           $color-primary-red;
    text-decoration: underline;
  }
}

.current {
  font-family:  $font-figtree;
  font-size:    14px;
  font-weight:  $fw-medium;
  color:        $color-dark-400;

  @include lg { font-size: 16px; }
}

.separator {
  font-size:   14px;
  color:       $color-dark-900;
  user-select: none;

  @include lg { font-size: 16px; }
}